**Pandas is different from numpy as it uses excel like approach to work with data whereas numpy uses array approach**

In [1]:
import pandas as pd
import numpy as np

In [2]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris.shape

(149, 5)

In [3]:
df=iris.copy()
df.shape
df.columns=["sl","sw","pl","pw","flower_type"]

In [4]:
# df.head()
# df.head(15)
df.iloc[:,:]

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [5]:
#M-1 to find sum row-wise
#storing row-wise sum in a new column 'sum'
df['sum']=df.sl+df.sw+df.pl+df.pw

In [6]:
df.head(10)

    sl   sw   pl   pw  flower_type   sum
0  4.9  3.0  1.4  0.2  Iris-setosa   9.5
1  4.7  3.2  1.3  0.2  Iris-setosa   9.4
2  4.6  3.1  1.5  0.2  Iris-setosa   9.4
3  5.0  3.6  1.4  0.2  Iris-setosa  10.2
4  5.4  3.9  1.7  0.4  Iris-setosa  11.4
5  4.6  3.4  1.4  0.3  Iris-setosa   9.7
6  5.0  3.4  1.5  0.2  Iris-setosa  10.1
7  4.4  2.9  1.4  0.2  Iris-setosa   8.9
8  4.9  3.1  1.5  0.1  Iris-setosa   9.6
9  5.4  3.7  1.5  0.2  Iris-setosa  10.8

In [7]:
#we cannot do normal row-wise sum using sum() because it has flower_type which is a string. so we need to replace it with a numeric type
def f(data):
    if(data=="Iris-setosa"):
        return 0
    elif(data=="Iris-versicolor"):
        return 1
    elif(data=="Iris-virginica"):
        return 2
    else:
        return 3
df['f_type']=df.flower_type.apply(f)

In [8]:
del df['sum']
del df['flower_type']
df

      sl   sw   pl   pw  f_type
0    4.9  3.0  1.4  0.2       0
1    4.7  3.2  1.3  0.2       0
2    4.6  3.1  1.5  0.2       0
3    5.0  3.6  1.4  0.2       0
4    5.4  3.9  1.7  0.4       0
..   ...  ...  ...  ...     ...
144  6.7  3.0  5.2  2.3       2
145  6.3  2.5  5.0  1.9       2
146  6.5  3.0  5.2  2.0       2
147  6.2  3.4  5.4  2.3       2
148  5.9  3.0  5.1  1.8       2

[149 rows x 5 columns]

In [9]:
#M-2:
ans=[]
for i in range(df.shape[0]):
    ans.append(df.iloc[i,:].sum())
ans

[9.5,
 9.4,
 9.399999999999999,
 10.2,
 11.4,
 9.700000000000001,
 10.1,
 8.9,
 9.6,
 10.8,
 9.999999999999998,
 9.299999999999999,
 8.5,
 11.2,
 12.000000000000002,
 11.000000000000002,
 10.3,
 11.5,
 10.7,
 10.7,
 10.700000000000001,
 9.399999999999999,
 10.599999999999998,
 10.299999999999999,
 9.799999999999999,
 10.4,
 10.399999999999999,
 10.2,
 9.7,
 9.7,
 10.700000000000001,
 10.9,
 11.299999999999999,
 9.6,
 9.599999999999998,
 10.5,
 9.6,
 8.9,
 10.2,
 10.100000000000001,
 8.4,
 9.1,
 10.7,
 11.2,
 9.5,
 10.699999999999998,
 9.399999999999999,
 10.7,
 9.9,
 17.299999999999997,
 16.6,
 17.4,
 14.100000000000001,
 16.4,
 15.3,
 16.9,
 12.600000000000001,
 16.4,
 14.200000000000001,
 12.5,
 15.600000000000001,
 14.2,
 16.1,
 14.4,
 16.6,
 15.6,
 14.6,
 15.4,
 14.1,
 16.700000000000003,
 15.2,
 16.200000000000003,
 15.799999999999997,
 15.900000000000002,
 16.4,
 16.799999999999997,
 17.4,
 15.9,
 13.8,
 13.799999999999999,
 13.600000000000001,
 14.6,
 16.4,
 15.4,
 16.5,
 17.0,
 15.3,
 15.0,
 14.3,
 14.7,
 16.1,
 14.6,
 12.6,
 14.8,
 15.099999999999998,
 15.100000000000001,
 15.7,
 12.7,
 14.9,
 20.1,
 17.5,
 20.1,
 18.599999999999998,
 19.5,
 21.3,
 15.6,
 20.3,
 18.8,
 21.4,
 18.799999999999997,
 18.3,
 19.400000000000002,
 17.2,
 18.099999999999998,
 19.200000000000003,
 18.8,
 22.4,
 21.500000000000004,
 16.7,
 20.1,
 17.299999999999997,
 21.2,
 17.700000000000003,
 19.8,
 20.2,
 17.6,
 17.8,
 18.9,
 19.6,
 20.199999999999996,
 22.1,
 19.0,
 17.7,
 17.7,
 21.099999999999998,
 19.7,
 18.8,
 17.6,
 19.5,
 19.8,
 19.4,
 17.5,
 20.2,
 20.2,
 19.2,
 17.700000000000003,
 18.7,
 19.3,
 17.8]

In [10]:
df.describe()

               sl          sw          pl          pw      f_type
count  149.000000  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369    1.006711
std      0.828594    0.433499    1.759651    0.761292    0.817847
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.400000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [11]:
df.sl.sum()

871.4

In [12]:
df.head()

    sl   sw   pl   pw  f_type
0  4.9  3.0  1.4  0.2       0
1  4.7  3.2  1.3  0.2       0
2  4.6  3.1  1.5  0.2       0
3  5.0  3.6  1.4  0.2       0
4  5.4  3.9  1.7  0.4       0

In [13]:
df.index[0]

0

In [14]:
# df.drop(df.index[0],inplace=True)

In [15]:
# df.loc[df.index[1]]

In [16]:
df.head()

    sl   sw   pl   pw  f_type
0  4.9  3.0  1.4  0.2       0
1  4.7  3.2  1.3  0.2       0
2  4.6  3.1  1.5  0.2       0
3  5.0  3.6  1.4  0.2       0
4  5.4  3.9  1.7  0.4       0

In [17]:
df.iloc[4:10,2:5]=np.nan

In [18]:
df.head(50)

     sl   sw   pl   pw  f_type
0   4.9  3.0  1.4  0.2     0.0
1   4.7  3.2  1.3  0.2     0.0
2   4.6  3.1  1.5  0.2     0.0
3   5.0  3.6  1.4  0.2     0.0
4   5.4  3.9  NaN  NaN     NaN
5   4.6  3.4  NaN  NaN     NaN
6   5.0  3.4  NaN  NaN     NaN
7   4.4  2.9  NaN  NaN     NaN
8   4.9  3.1  NaN  NaN     NaN
9   5.4  3.7  NaN  NaN     NaN
10  4.8  3.4  1.6  0.2     0.0
11  4.8  3.0  1.4  0.1     0.0
12  4.3  3.0  1.1  0.1     0.0
13  5.8  4.0  1.2  0.2     0.0
14  5.7  4.4  1.5  0.4     0.0
15  5.4  3.9  1.3  0.4     0.0
16  5.1  3.5  1.4  0.3     0.0
17  5.7  3.8  1.7  0.3     0.0
18  5.1  3.8  1.5  0.3     0.0
19  5.4  3.4  1.7  0.2     0.0
20  5.1  3.7  1.5  0.4     0.0
21  4.6  3.6  1.0  0.2     0.0
22  5.1  3.3  1.7  0.5     0.0
23  4.8  3.4  1.9  0.2     0.0
24  5.0  3.0  1.6  0.2     0.0
25  5.0  3.4  1.6  0.4     0.0
26  5.2  3.5  1.5  0.2     0.0
27  5.2  3.4  1.4  0.2     0.0
28  4.7  3.2  1.6  0.2     0.0
29  4.8  3.1  1.6  0.2     0.0
30  5.4  3.4  1.5  0.4     0.0
31  5.2  4.1  1.5  0.1     0.0
32  5.5  4.2  1.4  0.2     0.0
33  4.9  3.1  1.5  0.1     0.0
34  5.0  3.2  1.2  0.2     0.0
35  5.5  3.5  1.3  0.2     0.0
36  4.9  3.1  1.5  0.1     0.0
37  4.4  3.0  1.3  0.2     0.0
38  5.1  3.4  1.5  0.2     0.0
39  5.0  3.5  1.3  0.3     0.0
40  4.5  2.3  1.3  0.3     0.0
41  4.4  3.2  1.3  0.2     0.0
42  5.0  3.5  1.6  0.6     0.0
43  5.1  3.8  1.9  0.4     0.0
44  4.8  3.0  1.4  0.3     0.0
45  5.1  3.8  1.6  0.2     0.0
46  4.6  3.2  1.4  0.2     0.0
47  5.3  3.7  1.5  0.2     0.0
48  5.0  3.3  1.4  0.2     0.0
49  7.0  3.2  4.7  1.4     1.0

In [19]:
df.fillna(df.mean(),inplace=True)

In [20]:
df.describe()

               sl          sw          pl          pw      f_type
count  149.000000  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.869930    1.246154    1.048951
std      0.828594    0.433499    1.696301    0.734366    0.791242
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.400000    0.000000
50%      5.800000    3.000000    4.400000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [22]:
df.head(50)

     sl   sw       pl        pw    f_type
0   4.9  3.0  1.40000  0.200000  0.000000
1   4.7  3.2  1.30000  0.200000  0.000000
2   4.6  3.1  1.50000  0.200000  0.000000
3   5.0  3.6  1.40000  0.200000  0.000000
4   5.4  3.9  3.86993  1.246154  1.048951
5   4.6  3.4  3.86993  1.246154  1.048951
6   5.0  3.4  3.86993  1.246154  1.048951
7   4.4  2.9  3.86993  1.246154  1.048951
8   4.9  3.1  3.86993  1.246154  1.048951
9   5.4  3.7  3.86993  1.246154  1.048951
10  4.8  3.4  1.60000  0.200000  0.000000
11  4.8  3.0  1.40000  0.100000  0.000000
12  4.3  3.0  1.10000  0.100000  0.000000
13  5.8  4.0  1.20000  0.200000  0.000000
14  5.7  4.4  1.50000  0.400000  0.000000
15  5.4  3.9  1.30000  0.400000  0.000000
16  5.1  3.5  1.40000  0.300000  0.000000
17  5.7  3.8  1.70000  0.300000  0.000000
18  5.1  3.8  1.50000  0.300000  0.000000
19  5.4  3.4  1.70000  0.200000  0.000000
20  5.1  3.7  1.50000  0.400000  0.000000
21  4.6  3.6  1.00000  0.200000  0.000000
22  5.1  3.3  1.70000  0.500000  0.000000
23  4.8  3.4  1.90000  0.200000  0.000000
24  5.0  3.0  1.60000  0.200000  0.000000
25  5.0  3.4  1.60000  0.400000  0.000000
26  5.2  3.5  1.50000  0.200000  0.000000
27  5.2  3.4  1.40000  0.200000  0.000000
28  4.7  3.2  1.60000  0.200000  0.000000
29  4.8  3.1  1.60000  0.200000  0.000000
30  5.4  3.4  1.50000  0.400000  0.000000
31  5.2  4.1  1.50000  0.100000  0.000000
32  5.5  4.2  1.40000  0.200000  0.000000
33  4.9  3.1  1.50000  0.100000  0.000000
34  5.0  3.2  1.20000  0.200000  0.000000
35  5.5  3.5  1.30000  0.200000  0.000000
36  4.9  3.1  1.50000  0.100000  0.000000
37  4.4  3.0  1.30000  0.200000  0.000000
38  5.1  3.4  1.50000  0.200000  0.000000
39  5.0  3.5  1.30000  0.300000  0.000000
40  4.5  2.3  1.30000  0.300000  0.000000
41  4.4  3.2  1.30000  0.200000  0.000000
42  5.0  3.5  1.60000  0.600000  0.000000
43  5.1  3.8  1.90000  0.400000  0.000000
44  4.8  3.0  1.40000  0.300000  0.000000
45  5.1  3.8  1.60000  0.200000  0.000000
46  4.6  3.2  1.40000  0.200000  0.000000
47  5.3  3.7  1.50000  0.200000  0.000000
48  5.0  3.3  1.40000  0.200000  0.000000
49  7.0  3.2  4.70000  1.400000  1.000000

**Sorting the Dataframe**

In [26]:
df.sort_values(by="f_type")

      sl   sw   pl   pw  f_type
0    4.9  3.0  1.4  0.2     0.0
27   5.2  3.4  1.4  0.2     0.0
28   4.7  3.2  1.6  0.2     0.0
29   4.8  3.1  1.6  0.2     0.0
30   5.4  3.4  1.5  0.4     0.0
..   ...  ...  ...  ...     ...
118  6.0  2.2  5.0  1.5     2.0
119  6.9  3.2  5.7  2.3     2.0
120  5.6  2.8  4.9  2.0     2.0
110  6.4  2.7  5.3  1.9     2.0
148  5.9  3.0  5.1  1.8     2.0

[149 rows x 5 columns]